<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

<div class="navbar">
  <a class="brand" href="{{ '/' | relative_url }}">Computing Education Research at Emeris (CERE)</a>

  <div class="links">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/research/' | relative_url }}">Research</a>
    <a href="{{ '/publications/' | relative_url }}">Publications</a>
    <a href="{{ '/contact/' | relative_url }}">Contact</a>
  </div>
</div>